/*  */
*{
    margin: 0;
    padding: 0;
    font-size: 1vmax;
}
@font-face {
    font-family: 'monserrat';
    src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face{
    font-family: 'monserrat-regular';
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face{
    font-family: 'monserrat-light';
    src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: 'monserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}
.ff_m{
    font-family: 'monserrat';
}
.ff_mr{
    font-family: 'monserrat-regular';
}
.ff_ml{
    font-family: 'monserrat-light';
}
.ff_mb{
    font-family: 'monserrat-bold';
}
.f_w300{
    font-weight: 300;
}
.img_sh:hover{
    filter: drop-shadow(0 0 0.5vmax #54339e);
}
.hover_block_lg_lp:hover{
    background-color: #d0c4df;
    height: min-content;
}
.df{
    display: flex;
}
.dn{
    display: none;
}
.fdr_r{
    flex-direction: row;
}
.fdr_c{
    flex-direction: column;
}
.g0_3{
    gap: 0.3vmax;
}
.g0_5{
    gap: 0.5vmax;
}
.g1{
    gap: 1vmax;
}
.g1_5{
    gap: 1.5vmax;
}
.g2{
    gap: 2vmax;
}
.g2_5{
    gap: 2.5vmax;
}
.g3{
    gap: 3vmax;
}
.g4{
    gap: 4vmax;
}
.g5{
    gap: 5vmax;
}
.g6{
    gap: 6vmax;
}
.g10{
    gap: 10vmax;
}
.g12{
    gap: 12vmax;
}
.w_a{
    width: min-content;
}
.w_au{
    display: inline-block;
    width: max-content;
}
.w99{
    width: 99vmax;
}
.w1{
    width: 1vmax;
}
.w1_5{
    width: 1.5vmax;
}
.w1_7{
    width: 1.7vmax;
}
.w2{
    width: 2vmax;
}
.w2_5{
    width: 2.5vmax;
}
.w3{
    width: 3vmax;
}
.w4{
    width: 4vmax;
}
.w5{
    width: 5vmax;
}
.w6{
    width: 6vmax;
}
.w7{
    width: 7vmax;
}
.w8{
    width: 8vmax;
}
.w8_5{
    width: 8.5vmax;
}
.w9{
    width: 9vmax;
}
.w12{
    width: 12vmax;
}
.w12_2{
    width: 12.2vmax;
}
.w16{
    width: 16vmax;
}
.w16_5{
    width: 16.5vmax;
}
.w10{
    width: 10vmax;
}
.w14{
    width: 14vmax;
}
.w15{
    width: 15vmax;
}
.w18{
    width: 18vmax;
}
.w20{
    width: 20vmax;
}
.w21{
    width: 21vmax;
}
.w22{
    width: 22vmax;
}
.w23{
    width: 23vmax;
}
.w24{
    width: 24vmax;
}
.w25{
    width: 25vmax;
}
.w26{
    width: 26vmax;
}
.w29{
    width: 29vmax;
}
.w30{
    width: 30vmax;
}
.w35{
    width: 35vmax;
}
.w40{
    width: 40vmax;
}
.w42{
    width: 42vmax;
}
.w46{
    width: 46vmax;
}
.w48{
    width: 48vmax;
}
.w50{
    width: 50vmax;
}
.w52{
    width: 52vmax;
}
.wmx_46{
    max-width: 46vmax;
}
.wmx_50{
    max-width: 50vmax;
}
.wmn_1{
    min-width: 1vmax;
}
.w60{
    width: 60vmax;
}
.w69{
    width: 69vmax;
}
.w72{
    width: 72vmax;
}
.w74{
    width: 74vmax;
}
.w80{
    width: 80vmax;
}
.w82{
    width: 82vmax;
}
.w84{
    width: 84vmax;
}
.w87{
    width: 87vmax;
}
.w87_5{
    width: 87.5vmax;
}
.w90{
    width: 90vmax;
}
.w94{
    width: 94vmax;
}
.w96{
    width: 96vmax;
}
.w94_9{
    width: 94.9vmax;
}
.w98{
    width: 98vmax;
}
.w100{
    width: 100%;
}
.w98_9vx{
    width: 98.9vmax;
}
.w99vx{
    width: 99vmax;
}
.w100vx{
    width: 100vmax;
}
.h100{
    height: 100%;
}
.mx_w_34{
    max-width: 34vmax;
} 
.mn_w_34{
    min-width: 34vmax;
} 
.mx_h10{
    max-height: 10vmax;
} 
.mn_h_4{
    min-height: 4vmax;
}
.h1_5{
    height: 1.5vmax;
}
.h1_7{
    height: 1.7vmax;
}
.h2{
    height: 2vmax;
}
.h2_2{
    height: 2.2vmax;
}
.h2_5{
    height: 2.5vmax;
}
.h3{
    height: 3vmax;
}
.h5{
    height: 5vmax;
}
.h6{
    height: 6vmax;
}
.h7{
    height: 7vmax;
}
.h8{
    height: 8vmax;
}
.h9{
    height: 9vmax;
}
.h10{
    height: 10vmax;
}
.h12{
    height: 12vmax;
}
.h16{
    height: 16vmax;
}
.h20{
    height: 20vmax;
}
.h24{
    height: 24vmax;
}
.h27{
    height: 27vmax;
}
.h28{
    height: 28vmax;
}
.h30{
    height: 30vmax;
}
.h32{
    height: 32vmax;
}
.h30{
    height: 30vmax;
}
.h35{
    height: 35vmax;
}
.h37{
    height: 37vmax;
}
.h40{
    height: 40vmax;
}
.h45{
    height: 45vmax;
}
.fsz_1{
    font-size: 1vmax;
}
.fsz_1_2{
    font-size: 1.2vmax;
}
.fsz_1_4{
    font-size: 1.4vmax;
}
.fsz_1_5{
    font-size: 1.5vmax;
}
.fsz_2{
    font-size: 2vmax;
}
.fsz_2_3{
    font-size: 2.3vmax;
}
.fsz_3{
    font-size: 3vmax;
}
.fsz_4{
    font-size: 4vmax;
}
.fsz_0_8{
    font-size: 0.8vmax;
}
.fsz_0_85{
    font-size: 0.85vmax;
}
.ta_c{
    text-align: center;
}
.lh_0_5{
    line-height: 0.5vmax;
}
.lh_0_8{
    line-height: 0.8vmax;
}
.lh_1{
    line-height: 1vmax;
}
.lh_1_5{
    line-height: 1.5vmax;
}
.lh_2{
    line-height: 2vmax;
}
.lh_3{
    line-height: 3vmax;
}
.ac_c{
    align-content: center;
}
.ali_e{
    align-items: end;
}
.ali_s{
    align-items: start;
}
.ali_c{
    align-items: center;
}
.als_e{
    align-self: flex-end;
}
.als_s{
    align-self: flex-start;
}
.als_c{
    align-self: center;
}
.ali_str{
    align-items: stretch;
}
.js_s{
    justify-self: start;
}
.js_e{
    justify-self: end;
}
.jc_e{
    justify-content: end;
}
.jc_n{
    justify-content: normal;
}
.jc_c{
    justify-content: center;
}
.jc_spb{
    justify-content: space-between;
}
.jc_spa{
    justify-content: space-around;
}
.pdng_course{
    padding: 4vmax 1vmax 1vmax 1vmax;
}
.paa_0_3{
    padding: 0.3vmax;
}
.paa_0_5{
    padding: 0.5vmax;
}
.paa_1{
    padding: 1vmax;
}
.paa_2{
    padding: 2vmax;
}
.pb_1{
    padding-bottom: 1vmax;
}
.input_p{
    padding: 0.5vmax 1vmax;
}
.ptb_0_5{
    padding: 0.5vmax 0;
}
.ptb_1{
    padding: 1vmax 0;
}
.ptb_2{
    padding: 2vmax 0;
}
.plr_1{
    padding: 0 1vmax;
}
.pb_1{
    padding-bottom: 1vmax;
}
.br_03{
    border-radius: 0.3vmax;
}
.br_1{
    border-radius: 1vmax;
}
.br_30{
    border-radius: 30vmax;
}
.br_rb_0_5{
    border-bottom-right-radius: 1vmax;
}
.br_lb_0_5{
    border-bottom-left-radius: 1vmax;
}
.ou_n{
    border: none;
    outline: none;
}
.brc_lp{
    border: 0.15vmax solid #d0c4df;
}
.brc_dp{
    border: 0.15vmax solid #54339e;
}

.pos_f{
    position: fixed;
    z-index: 100;
}
.pos_r{
    position: relative;
}
.pos_a{
    position: absolute;
}

.b_0{
    bottom: 0vmax;
}
.b_1{
    bottom: 1vmax;
}
.b_2{
    bottom: 2vmax;
}
.b_2_3{
    bottom: 2.3vmax;
}
.b_3{
    bottom: 3vmax;
}
.b_4{
    bottom: 4vmax;
}
.t_0{
    top: 0;
}
.t_0_5{
    top: 0.5vmax;
}
.t_1{
    top: 1vmax;
}
.t_2{
    top: 2vmax;
}
.t_m_1_5{
    top: -1.5vmax;
}
.t_m_2{
    top: -2vmax;
}
.t_m_2_5{
    top: -2.5vmax;
}
.mtm_1{
    margin-top: -1vmax;
}
.mtm_1_5{
    margin-top: -1.5vmax;
}
.mtm_1_7{
    margin-top: -1.7vmax;
}
.mtm_2{
    margin-top: -2vmax;
}
.mt_0_5{
    margin-top: 0.5vmax;
}
.mt_1{
    margin-top: 1vmax;
}
.mt_2{
    margin-top: 2vmax;
}
.mt_3{
    margin-top: 3vmax;
}
.mt_4{
    margin-top: 4vmax;
}
.mt_5{
    margin-top: 5vmax;
}
.r_0_5{
    right: 0.5vmax;
}
.r_1{
    right: 1vmax;
}
.r_1_5{
    right: 1.5vmax;
}
.r_10{
    right: 10vmax;
}
.l_0{
    left: 0vmax;
}
.rm_5{
    right: -5vmax;
}
.lm_1_5{
    left: -1.5vmax;
}
.oy_s{
    overflow-y: auto;
}
.sc_w_th{
    scrollbar-width: thin;
}
.btn_purple{
    padding: 0.5vmax 1vmax;
    background-color: white;
    border-radius: 1vmax;
}
.btn_purple:hover{
    background-color: #54339e;
    color: aliceblue;
}
.btn_w_lp{
    background-color: white;
    color: #54339e;
}
.btn_w_lp:hover{
    background-color: #d0c4df;
    color: #54339e;
}
.btn_dp_lp{
    background-color: #54339e;
    color: white;
}
.btn_dp_lp:hover{
    background-color: #d0c4df;
    color: #54339e;
}

.btn_lp_dp{
    background-color: #d0c4df;
    color: #54339e;
}
.btn_lp_dp:hover{
    background-color: #54339e;
    color: #d0c4df;
}

.btn_wh_dp{
    background-color: white;
    color: #54339e;
}
.btn_wh_dp:hover{
    background-color: #54339e;
    color: #d0c4df;
}

.btn_green{
    background-color: #cfdfc4;
    color: #325b1e;
}
.btn_green:hover{
    background-color: #325b1e;
    color: white;
}
.btn_red{
    background-color: #dfc4c4;
    color: #5b1e1e;
}
.btn_red:hover{
    background-color: #5b1e1e;
    color: #f4f4f4;
}
.td_u{
    text-decoration: underline;
}
.td_n{
    text-decoration: none;
}
.hvr:hover{
    text-decoration: underline;
}
.c_b{
    color: black;
}
.c_dp{
    color: #54339e;
}
.c_dg{
    color: #325b1e;
}
.c_lp{
    color: #d0c4df;
}
.c_gr{
    color: rgba(128, 128, 128, 0.666);
}
.c_red{
    color: #a20303;
}
.bg_lgr{
    background-color: rgba(132, 131, 131, 0.4);
}
.bg_beige{
    background-color: #f1e0d7;
}
.bg_lg{
    background-color: #cfdfc4;
}
.bg_tan{
    background-color: tan;
}
.bg_lb{
    background-color: rgb(224, 247, 255);
    color: rgb(0, 39, 52);
}
.c_dr{
    color: #5b1e1e;
}
.c_lr{
    color: #a20303;
}
.c_w{
    color: white;
}
.bg_lr{
    background-color: #dfc4c4;
}
.bg_lp{
    background-color: #d0c4df;
}
.bg_lp_a40{
    background-color: rgba(208, 196, 223, 0.4);
}
.bg_dp{
    background-color: #54339e;
}
.bg_w{
    background-color: white;
}
.h4{
    height: 4vmax;
}
.h18{
    height: 18vmax;
}

.min_h34{
    min-height: 34vmax;
}
#main_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45.55vmax;
    background-color: #f4f4f4;
}
#div_for_login_form{
    border-radius: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2vmax;
    font-family: 'monserrat';
    color: #54339e;
    /* width: 28%; */
    background-color: #d0c4df;
}


#div_for_login_form>span>img{
    width: 2vmax;
}

header{
    font-size: 1vmax;
    font-family: 'monserrat';
    padding: 0 3vmax;
}

.errors_absolute{
    position: absolute;
    z-index: 2;
    right: 2vmax;
    bottom: 2vmax;
}
.errors_absolute>ul>li{
    padding: 1vmax;
    border-radius: 1vmax;
    background-color: #d0c4dfbb;
    color: #55339eb8;
    font-family: 'monserrat';
    font-size: 1vmax;
    marker: none;
}
li::marker{
    content: none;
}
.container_my{
    margin: 0  1.5vmax;
    width: 97vmax;
    height: 45.55vmax;
}
/* .container_my_2{
    width: 100vmax;
} */
.admin_navbar{
    padding: 1vmax;
    width: 2vmax;
    background-color: #d0c4df;
    height: 39.55vmax;
    border-radius: 0.7vmax;
}
.admin_content{
    width: 89vmax;
    height: 39.55vmax;
}


#background_modal{
    display: none;
}

.image1{
    bottom: 0vmax;
    right: 36vmax;
    width: 11vmax;
}
.image2{
    top: 12vmax;
    right: 1vmax;
    width: 15vmax;
}
.image3{
    top: 0.8vmax;
    right: 21vmax;
    width: 13vmax;    
}
.image4{
    bottom: 2vmax;
    right: 17vmax;
    width: 10vmax;
    transform: rotate(30deg);
}
.image5{
    top: 8vmax;
    left: 17vmax;
    width: 6vmax ;
}
.search_course{
    background-color: #54339e;
    color: white;
}
.search_course:hover{
    background-color: #d0c4df;
    color: #54339e;
}
.h_wt_lp{
    background-color: white;
}
.h_wt_lp:hover{
    background-color: #d0c4df;
}
.input_create{
    border-radius: 0.3vmax;
    border: 0.15vmax solid #d0c4df;
    padding: 0.5vmax;
    width: 50vmax;
    height: 6vmax;
}
form#preview> div >img{
    width: 50vmax;
    position: relative;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 2vmax;
    align-items: center;
    width: 98.9vmax;
    position: relative;
}
#header_student{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 96vmax;
    height: 6vmax;
    border-radius: 0 0 1vmax 1vmax;
    justify-content: space-between;
    padding: 0 1vmax;
    background-color: rgb(208, 196, 223);
    z-index: 4;
}
#left_header_student{
    display: flex;
    flex-direction: row;
    gap: 3vmax;
    align-items: center;
}
.left_header_student{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 1vmax;
    align-items: center;
    font-size: 1vmax;
    font-family: 'monserrat';
    color: #54339e;
}
#right_header_student{
    display: flex;
    flex-direction: row;
    gap: 1vmax;
    align-items: center;
}
.buttons_dp_lp{
    text-decoration: none;
    font-family: 'monserrat';
    color: #54339e;
    font-size: 1vmax;
    padding: 0.5vmax 1vmax;
    background-color: white;
    border-radius: 1vmax;
}
.buttons_dp_lp:hover{
    color: white;
    background-color: #54339e;
}
#content_student{

}
/* CHOOSE FORMAT */
#choose_format_test_bg{
    display: none;
    /* align-items: center; */
    justify-content: center;
    position: absolute;
    top: -1vmax;
    left: -10vmax;
    /* transform: translate(-50%, 50%); */
    width: 115vmax;
    height: 115vmax;
    z-index: 101;
    background-color: rgba(208, 196, 223, 0.4);
}
#choose_format_test{
    display: flex;
    flex-direction: column;
    margin-top: 4vmax;
    width: 56vmax;
    height: 36vmax;
    padding: 2vmax;
    background-color: white;
    border: 0.1vmax solid #54339e;
    border-radius: 1vmax;
}
#types_testing{
    width: 56vmax;
    height: 30vmax;
    display: flex;
    flex-direction: column;
}
#four_types{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5vmax;
    justify-content: space-between;
    align-items: start;
    width: 56vmax;
    height: 24vmax;
}
.type_test{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vmax;
    width: 25vmax;
    height: 6vmax;
    padding: 1vmax;
    /* background-color: #dfc4c4; */
    border: 0.1vmax solid #54339e;
    border-radius: 0.3vmax;
}
.type_test:hover{
    background-color: rgba(208, 196, 223, 0.4);
    border: transparent;
}
.type_test>img, #one_type>img{
    height: 6vmax;
}
.type_test>div, #one_type>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}
.type_test>div>span, #one_type>div>span{
    font-size: 1vmax;
}
#one_type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vmax;
    gap: 4vmax;
    /* background-color: #dfc4c4; */
    border: 0.1vmax solid #54339e;
    border-radius: 0.3vmax;
    width: 54vmax;
    height: 6vmax;
}
#one_type:hover{
    background-color: rgba(208, 196, 223, 0.4);
    border: transparent;
}

.test_task{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    gap: 1vmax;
    border-radius: 0.3vmax;
    border: 0.1vmax solid #d0c4df;
    background-color: rgba(208, 196, 223, 0.4);
    /* min-height: 3vmax; */
    width: 48vmax;
}

.one_point, .one_point_5{
    display: flex;
    flex-direction: row;
    gap: 2vmax;
    width: 30vmax;
    padding: 0.5vmax;
    border: 0.1vmax solid #d0c4df;
    border-radius: 0.3vmax;
    background-color: white;
}
.one_point_5{
    padding: 0.3vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.del_test_task{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vmax;
    width: 2vmax;
    height: 2vmax;
    font-family: 'monserrat';
    right: -3vmax;
    color: white;
    position: absolute;
    background-color: #54339e;
    border-radius: 0.6vmax 0.3vmax 0.3vmax 0.3vmax;
}
.del_test_task::before{
    content: ''; 
    position: absolute;
    left: -1.6vmax; top: 0.1vmax;
    border: 0.65vmax solid transparent;
    border-right: 1.3vmax solid #54339e;
}
#time_switch_test{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition-duration: 1s;
    width: 4vmax;
    height: 1.5vmax;
    padding: 0.5vmax;
    border: 0.2vmax solid #d0c4df;
    border-radius: 30vmax;
    animation-name: timer-on-off;
}
#time_switch_text{
    color: #54339e;
    font-family: 'monserrat';
}
#time_switch_img{
    transition-duration: 1s;
    width: 1.5vmax;
    height: 1.5vmax;
    background-color: white;
    /* box-shadow: 0 0 0.3vmax #54339e; */
    border-radius: 30vmax;
    padding: 0.2vmax;
    /* filter: hue-rotate(10deg); */
}
#timer_on{
    display: none;
    align-items: center;
    gap: 0.3vmax;
}
.border_various{
    line-height: 2.4vmax;
    border-collapse: collapse;
    border-bottom: 0.1vmax solid rgba(128, 128, 128, 0.666);
}

.attention_task{
    font-size: 0.8vmax;
    font-family: 'monserrat-light';
    color: #a20303;
    text-decoration: underline;
}



.time_switch_on{
    
    transition-duration: 1s;
    width: 4vmax;
    height: 1.5vmax;
    padding: 0.5vmax;
    border-radius: 30vmax;
    animation-name: timer-on-off;
    background: none;
    border: 0.2vmax solid rgb(208, 196, 223);
    font-family: 'monserrat';
    font-size: 0.8vmax;
    display: flex;
    flex-direction:  row-reverse;
    align-items: center;
    justify-content: space-between;
    /* padding: 0.3vmax;
    font-size: 1vmax;
    height: 1.7vmax;
    outline: none;
    border-radius: 0.3vmax;


    flex-direction: row-reverse;
    border: 0.2vmax solid white;

    background: #54339e; */
}
.time_switch_off{
    display: flex;
    flex-direction: row;
    border: 0.2vmax solid white;
    background-color: rgb(84, 51, 158);
    align-items: center;
    justify-content: space-between;
    transition-duration: 1s;
    width: 4vmax;
    height: 1.5vmax;
    padding: 0.5vmax;
    border-radius: 30vmax;
    animation-name: timer-on-off;
    font-size: 0.8vmax;
    font-family: 'monserrat
}
.time_switch_img_off{
    transition-duration: 1s;
    width: 1.5vmax;
    height: 1.5vmax;
    background-color:white;
    border-radius: 30vmax;
    padding: 0.2vmax;
    box-shadow: 0 0 0.4vmax #d0c4df;
}
.time_switch_img_on{
    transition-duration: 1s;
    width: 1.5vmax;
    height: 1.5vmax;
    background-color:white;
    border-radius: 30vmax;
    padding: 0.2vmax;
    box-shadow: 0 0 0.4vmax #d0c4df;
}
.time_swith_text_off{
    color: #d0c4df;
}
.time_swith_text_on{
    color: #54339e;
}

.error_form_test{
    font-size: 0.8vmax;
    color: #5b1e1e;
    background-color: #a2030327;
    padding: 0.5vmax;
    margin: 0.5vmax 0;
    border-radius: 0.3vmax;
    width: 47.8vmax;
}


.errors_absolute_red{
    position: fixed;
    overflow-y:scroll;
    scrollbar-width: thin;
    z-index: 20;
    right: 10vmax;
    top: 10vmax;
    height: 20vmax;
}
.errors_absolute_red>ul{
    display: flex;
    flex-direction: column;
    gap: 0.3vmax;
}
.errors_absolute_red>ul>li{
    padding: 1vmax;
    border-radius: 1vmax;
    font-size: 0.8vmax;
    color: #5b1e1e;
    background-color: #a2030327;
    font-family: 'monserrat';
    marker: none;
}
li::marker{
    content: none;
    color: #54339e;
}


#content_tests{
    min-height: 28vmax;
}


#timer_n_progress_one_test_student{
    display: flex;
    flex-direction: row;
    gap: 10vmax;
    width: 90vmax;
    /* background-color: #325b1e; */
}
#one_test_progress_student{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    width: 50vmax;
    gap: 1vmax;
}
.one_point_progress{
    display: flex;
    align-items: center;
    width: auto;
    background: #d0c4df;
    height: 2vmax;
    padding: 0.3vmax;
    border-radius: 30vmax;
}
/* .one_point_progress>input{
    color: #54339e;
    border-color: #54339e;
    background: #54339e;
} */
.one_point_progress:first-child{
    background-color: #54339e;
    /* box-shadow: 0 0.3vmax 0.3vmax #54339e; */
}


#timer_test_student{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5vmax;
    width: 8vmax;
    height: 2vmax;
    padding: 0.5vmax;
    border-radius: 30vmax;
    background-color: #d0c4df;
}
#timer_test_student>img{
    height: 2vmax;
}
#timer_count{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30vmax;
    width: 5.5vmax;
    height: 2vmax;
    font-size: 1vmax;
    font-family: 'monserrat';
    color: #54339e;
    background-color: white;
}
#timer_pause{
    border-radius: 30vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0c4df;
    height: 2vmax;
    width: 2vmax;
    padding: 0.5vmax;
    font-size: 1.4vmax;
    color: #54339e;
    font-family: 'monserrat-bold';
    font-weight: 400;
}


.one_block_with_test{
    display: none;
    flex-direction: column;
    position: relative;
    gap: 1vmax;
    width: 100%;
    min-height: 14vmax;
    /* background-color: #cfdfc4; */
    padding-bottom: 3vmax;
}

#test_various_student{
    display: flex;
    flex-direction: column;
    gap: 0.5vmax;

}
.next_task_student{
    bottom: 1vmax;
    right: 0vmax;
    outline: none;
    border-radius: 30vmax;
    border: transparent;
    position: absolute;
    padding: 0.5vmax;
    background: #d0c4df;
    font-family: 'monserrat';
    font-size: 1vmax;
    color: #54339e;
}
.next_task_student:hover{
    color: #d0c4df;
    background: #54339e;
}
#result_test{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vmax;
    width: 98.8vmax;
    height: 40vmax;
    background-color: #f4f4f4;
}

#get_certificate_on_course_page{
    padding: 0.5vmax;
    font-family: 'monserrat-regular';
    color: #54339e;
    border-radius: 0.3vmax;
    background-color: #d0c4df;
    box-shadow: 0 0 0.4vmax rgba(218, 165, 32, 0.273);
    font-size: 0.8vmax;

}
#certificate_one_course{
    margin-top: 1vmax;
    justify-self: center;
    width: 75vmax;
    height: 40vmax;
    background-color: #d0c4df;
    border: 0.1vmax solid #54339e;
}

#get_certificate_btn{
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    background-color: #d0c4df;
    justify-self: end;
    color: #54339e;
    font-family: 'monserrat-regular';
    font-size: 1vmax;
    outline: none;
    border: transparent;
    border-radius: 0.3vmax;
}
#get_certificate_btn:hover{
    background-color: #54339e;
    color: #d0c4df;
}
#certificate_line_logo{
    justify-self: center;
    width: 67.5vmax;
    display: flex;
    flex-direction: row;
}
#certificate_main_content{
    display: flex;
    flex-direction: column;
    gap: 3vmax;
    align-items: center;
    width: 67.5vmax;
    font-family: 'monserrat-regular';
}
#certificate_date_ht{
    border: transparent;
    background-color: gray;
    height: 0.05vmax;
    width: 15vmax;
}

#checkmark_lesson_none{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vmax;
    height: 1.5vmax;
    font-size: 1vmax;
    border-radius: 30vmax;
    border: 0.01vmax solid #54339e;
}
#checkmark_lesson_green{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vmax;
    height: 1.5vmax;
    font-size: 1vmax;
    border-radius: 30vmax;
    background-color: #cfdfc4;
    color: #325b1e;
    font-family: 'monserrat-bold';
    border: 0.01vmax solid #325b1e;
}

#progress_line_course{
    width: 50vmax;
    height: 0.4vmax;
    border-radius: 30vmax;
    background-color: #d0c4df;
}
#done_progress_line_course{
    height: 0.4vmax;
    background-color: #54339e;
    border-radius: 30vmax;
}

#end_timer_bg{
    position: fixed;
    z-index: 10;
    top: 0vmax;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmax;
    width: 98.9vmax;
    height: 45vmax;
    background-color: rgba(208, 196, 223, 0.4);
    color: #54339e;
    font-family: 'monserrat';
}